{% extends "base.html" %}

{% block title %}הוספת אקורדים לשיר{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/add_chords.css') }}">
{% endblock %}

{% block content %}
<div class="main-container">
    {% include "add_chords/chord_sidebar.html" %}
    <div class="main-content">
        {% include "add_chords/measure_builder.html" %}
    </div>
    {% include "add_chords/song_structure.html" %}
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/add_chords.js') }}"></script>
{% endblock %}
